@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Stack Sans Notch", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
.stack-sans {
  font-family: "Stack Sans Notch", sans-serif;
}
